


body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
   /* background-color: lightblue;*/
    font-family: sans-serif;
    background-image: url("images/imge.jpg");
    background-size: cover;
 
  
}
.content{
    position: relative;
    width: 35%;
    height: 95vh; 
    display: flex;
   /* background-color: rgb(244, 13, 236); */  
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    padding: 50px;
    background-color: rgb(65, 6, 92);  
    box-shadow: 8px 16px 32px rgba(0, 0, 0, .9);
    border-radius: 30px;
   /* box-sizing: border-box; */   
     
}
.heading{  
    background-color: lightblue;
    border: rgb(42, 31, 31);
    border-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    margin: 0;   
    padding: 2px;
   
}

#date{
    float: right;
    margin: 2px;
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-size: 8px;
    font-family: sans-serif;

}

h2{
display: flex;
align-items: center;
justify-content: center;
position: relative;
letter-spacing: 1px;
font-size: 18px;


}
 #topic{
   
    text-shadow: 8px 16px 32px rgba(0, 0, 0, .9);
    
   

}

h3{
display: flex;
align-items: center;
justify-content: center;
position: relative;
color: black;
font-size: 14px;
margin: 0.5rem auto;

}
h4{
display: flex;
align-items: center;
justify-content: center;
position: relative;
letter-spacing: 1px;
color: rgb(47, 8, 101);
font-size: 10px;

}
.form{
  
    margin: 0.2rem auto;
    padding: 20px;
    background-color: grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 15px; 
    height: 110px;
}



input::placeholder{
    margin: 2px;
    padding: 5px;
    color: black;
    font-size: 10px;
    font-weight: bold;
}
input{
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    padding: 0.1rem;
    width: 100px;
    height: 1.2rem;
    margin: 0.1rem auto;


}
.btn{
   
   
    margin: 0.5rem auto;
    background-color: green;
    border: none;
    color: white;
    border-radius: 20%;
    padding: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
    position: relative;
}

#soft{
   
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    box-shadow: 8px 16px 32px rgba(0, 0, 0, .9);
    padding: 15px;
   border-radius: 40%;
   margin: 0;


}
#clear{
    display: flex;
    width: 100%;
    margin: 4px;
    padding: 5px;
   background-color: lightcyan;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a{
    background-color: red;
    width: 100px;
    height: 50px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 50%;
}


